table, th, td, tr {
    border: 2px solid hsl(240, 100%, 99%);
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
} 

th {
    text-align: center;
    background-color: #008B8B;
    color: white;
}
th, td {
    padding: 10px;
}

.content {
    padding-right: 100px;
    padding-left: 100px;
}  

tr:nth-child(even) {background-color: #F8F8FF;}
tr:hover {background-color: #20c997;}